@font-face {
    font-family: zebra;
    src: url(Fuentes/Zebra.ttf);
}

@font-face {
    font-family: nor;
    src: url(Fuentes/nor.otf);
}


header{
    display: inline-block;
    
}
.Portada{ 
    background-image: url("Imagenes/Portada.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.logo{
    display: flex;
}

.logo img {
    width: 200PX;
    height: 200px;
    border-radius: 20%;
    padding-top: 10px;
    padding-left: 15px;
    
}

h1 {
    flex: 1;
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-family: zebra;
    color: rgb(241, 241, 241);
    padding-top: 60px;

   
}

h2{
    font-family: nor;
    text-align: center;
    color: gold;
    font-size: 100px;
    
}

h3{
    font-size: 50px;
    font-family: zebra;
    text-align: center;
    color: gold;
}

p{
    font-size: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    padding-top: 20px;
    padding-left: 20px;
    
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    text-decoration: none;
    color: #333;
    

}

.search-social {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    float: right;
}

.search-social input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}

.social-icons a img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

main{
    width: 1200px;
    text-align: justify;
    display: grid;
    place-items: center;
    margin: 0 auto
    
}
.Mundo{
    align-items: center;
    justify-content: center;
    position: relative;
    place-items: center;
    display: grid;
}

.Hidro{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    
}

.Hidro img{
    height: 300px;
    width: auto;
    border-radius: 40px;
    display: grid;
    place-items: center;
}







footer {
    text-align: right;
    padding: 10px 30px;
    background-color: #f4f4f4;
}

footer a img {
    display: flex;
    width: 60px;
    height: 60px;
    float: right;
}

.Derechos{

    text-align: center;
}